extend ../_layout

block content
  div(class='line-feed') <a href="/">home</a> &gt; <a href="/issue">issue</a> &gt; #{issue.id}
  h1
    = pageTitle
  p #{issue.summary}
  p Comments
  each comment in issue.comments
    p
      span Posted by #{comment.author}<br>
      | #{comment.body}<br>
      | <a href="/issue/#{issue.id}/#{comment.id}">show</a>
  p <a href="/issue/#{issue.id}/new">new comment</a>
