extend ../_layout

block content
  div(class='line-feed')
    | <a href="/">home</a>
    | &gt; <a href="/issue">issue</a>
    | &gt; #{issue.key}

  p
    span Reported by #{issue.fields.reporter.name}<br>
    | <a href="/issue/#{issue.key}">#{issue.key}</a>
    | : #{issue.fields.summary}

  hr

  each comment in issue.fields.comment.comments
    p
      form(method="post" action=`/issue/${issue.key}/${comment.id}`)
        .form-group
          div
            input(type="hidden" name="_method" value="delete")
          div
            span Posted by #{comment.author.name}<br>
            pre #{comment.body}<br>
          div
            <a href="/issue/#{issue.key}/#{comment.id}">update</a>&nbsp;
            button.btn.btn-primary(type="submit" class="btn-link")
              span.glyphicon.glyphicon-plus delete

  p <a href="/issue/#{issue.key}/new">new comment</a>
