extend _layout

block content
  p
  div(class='container')
    | <a href="/">home</a>
    | &gt; #{issue.key}

  div(class='container')
    hr

  div(class='container')
    b Summary:
    | &nbsp;&nbsp;&nbsp;&nbsp;
    | #{issue.fields.summary}

  p
  div(class='container')

    div(class='col-lg-9')
      div(class='container-fluid')
        div(class='col-lg-6 col-md-6 col-sm-6 col-xs-12')
          div(class='col-lg-6 col-md-6 col-sm-5 col-xs-5' align='right')
            b Type:<br>
            b Priority:<br>
            b Affects&nbsp;Version/s:<br>
            b Component/s:<br>
            b Labels:
          div(class='col-lg-6 col-md-6 col-sm-7 col-xs-7')
            img(src=`${issue.fields.issuetype.iconUrl}`)
            | &nbsp;
            | #{issue.fields.issuetype.name}<br>
            img(src=`${issue.fields.priority.iconUrl}` height='16px' width='16px')
            | &nbsp;
            | #{issue.fields.priority.name}<br>
            | #{(issue.fields.versions || []).map(item => item.name).join(', ')}<br>
            | #{(issue.fields.components || []).map(item => item.name).join(', ')}<br>
            | #{(issue.fields.labels || []).map(item => item).join(', ')}
        div(class='col-lg-6 col-md-6 col-sm-6 col-xs-12')
          div(class='col-lg-6 col-md-6 col-sm-5 col-xs-5' align='right')
            b Status:<br>
            b Resolution:<br>
            b Fix&nbsp;Version/s:
          div(class='col-lg-6 col-md-6 col-sm-7 col-xs-7')
            img(src=`${issue.fields.status.iconUrl}`)
            | &nbsp;
            | #{issue.fields.status.name}<br>
            | #{issue.fields.resolution.name}<br>
            | #{(issue.fields.fixVersions || []).map(item => item.name).join(', ')}

    div(class='col-lg-3')
      div(class='container-fluid')
        div(class='col-lg-12')
          div(class='row')
            div(class='col-lg-5 col-md-9 col-sm-9 col-xs-5' align='right')
              b Assignee:<br>
              b Reporter:
            div(class='col-lg-7 col-md-3 col-sm-3 col-xs-7')
              | #{issue.fields.assignee.name}<br>
              | #{issue.fields.reporter.name}
          div(class='row')
            -
              var created = {
                title:  moment(issue.fields.created).format('YYYY/MM/DD HH:mm:ss'),
                fromNow: moment(issue.fields.created).fromNow()
              }
              var updated = {
                title:  moment(issue.fields.updated).format('YYYY/MM/DD HH:mm:ss'),
                fromNow: moment(issue.fields.updated).fromNow()
              }
            p
            div(class='col-lg-5 col-md-9 col-sm-9 col-xs-5' align='right')
              b Created:<br>
              b Updated:
            div(class='col-lg-7 col-md-3 col-sm-3 col-xs-7')
              span(title=`${created.title}`) #{created.fromNow}<br>
              span(title=`${updated.title}`) #{updated.fromNow}

  p
  div(class='container')
    b Description:
    p
      pre #{issue.fields.description}

  div(class='container')
    hr

  div(class='container')
    b Comments:
    p

    each comment in issue.fields.comment.comments
      div
        -
          var created = {
            title:  moment(comment.created).format('YYYY/MM/DD HH:mm:ss'),
            fromNow: moment(comment.created).fromNow()
          }
      p
        span Posted by #{comment.author.name}&nbsp;
        span(title=`${created.title}`) #{created.fromNow}.
        pre #{comment.body}<br>
