extend _layout

block content
  p
  div(class='container')
    | <a href="/">home</a>
    | &gt; #{issue.key}

  div(class='container')
    hr

  p
  div(class='container')
    div(class='col-lg-6')
      a(href=`/issue/${issue.key}`) #{issue.key}

  p
  div(class='container')
    div(class='row')
      div(class='col-lg-2' align='right')
        b Summary:
      div(class='col-lg-10')
        | #{issue.fields.summary}
    div(class='row')
      p
      div(class='col-lg-3' align='right')
        b Type:<br>
        b Status:
      div(class='col-lg-2')
        | #{issue.fields.issuetype.name}<br>
        | #{issue.fields.status.name}
      div(class='col-lg-2' align='right')
        b Assignee:<br>
        b Reporter:
      div(class='col-lg-3')
        | #{issue.fields.assignee.name}<br>
        | #{issue.fields.reporter.name}
    div(class='row')
      p
      div(class='col-lg-2' align='right')
        b Description:
      div(class='col-lg-10')
        | #{issue.fields.description}

  div(class='container')
    hr

  div(class='container')
    b Comments:
    p

    each comment in issue.fields.comment.comments
      div
        -
          var created = {
            title:  moment(comment.created).format('YYYY/MM/DD HH:mm:ss'),
            fromNow: moment(comment.created).fromNow()
          }
      p
        span Posted by #{comment.author.name}&nbsp;
        span(title=`${created.title}`) #{created.fromNow}.<br>
          | #{comment.body}<br>
