extend ../../_layout

block content
  div(class='line-feed') <a href="/">home</a> &gt; <a href="/issue">issue</a> &gt; <a href="/issue/#{issue.id}">#{issue.id}</a> &gt; #{comment.id}
  h1
    = pageTitle
  p
    span Posted by #{comment.author}<br>
    | #{comment.body}<br>
    | <a href="/issue/#{issue.id}">show issue</a>
